<body>
    <section class="page-section catalog">
        <div class="container pt-5">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-4">Προσθηκη Αποθηκευτικου Χωρου</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <form [formGroup]="storageForm" class="storage-details-card shadow rounded">
                <div class="row" style="min-height: 300px;">
                    <div class="col-md-4 text-center storage-info">
                        <div class="storage-icon-container">
                            <i class="fa-solid fa-hard-drive fa-4x"></i>
                        </div>
                        <h4 class="mt-2 text-uppercase">Αποθηκευτικος Χωρος</h4>
                    </div>
                    <div class="col-md-8 storage-form-section">
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Μάρκα</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="brand" class="form-control" placeholder="ex. Patriot">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Μοντέλο</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="model" class="form-control" placeholder="ex. Burst Elite 120 GB">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Είδος</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="type" class="form-control" placeholder="ex. SSD">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Διεπαφή</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="interface" class="form-control" placeholder="ex. SATA III 6.0Gb/s">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Ταχύτητα</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="speed" class="form-control" placeholder="ex. 500MB/s">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Χωρητικότητα</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="capacity" class="form-control" placeholder="ex. 256GB">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Σειριακός Αριθμός</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="serialNumber" class="form-control" placeholder="ex. IUH7YF736FUY">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-secondary me-2 px-4" (click)="goBack()">
                            <i class="fa-solid fa-arrow-left-long"></i> Πίσω
                        </button>
                        <button type="button" class="btn btn-success me-2 px-4" (click)="createStorage()" [disabled]="storageForm.pristine || storageForm.invalid">
                            <i class="fa-solid fa-save"></i> Δημιουργία
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>