.catalog .catalog-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 5%;
    overflow: hidden;
}
.catalog .catalog-item .catalog-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    background-color: #ffe26d;
}
.catalog .catalog-item .catalog-item-caption:hover {
    opacity: 1;
    transform: translateY(-10px) scale(1.1);
}
.catalog .catalog-item .catalog-item-caption .catalog-item-caption-content {
    font-size: 1.5rem;
}

.page-section {
    padding: 6rem 0;
}
.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}
@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
    color: #fff;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    background-color: #e1eaf2 !important;
    transition: background-color 0.3s ease-in-out;
}
.clickable-text:hover {
    cursor: pointer;
    color: #2c3e50;
}