<body>
    <section class="page-section catalog">
        <div class="container pt-5">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Υλικα</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Catalog Grid Items-->
            <div class="row justify-content-center">
                <!-- Catalog Item 1-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToPC()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-desktop fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/pc.png" alt="PC is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 2-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToCPU()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-microchip fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/cpu.png" alt="CPU is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 3-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToMOBO()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-chess-board fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/mobo.png" alt="MOBO is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 4-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToRAM()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-memory fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/ram.png" alt="RAM is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 5-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToGPU()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-gamepad fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/gpu.png" alt="GPU is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 6-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToPSU()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-power-off fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/psu.png" alt="PSU is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 7-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToStorage()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-hard-drive fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/storage.png" alt="Storage is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 8-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToNetworkCard()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-ethernet fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/networkcard.png" alt="NetworkCard is missing..." />
                    </div>
                </div>
                <!-- Catalog Item 9-->
                <div class="col-md-6 col-lg-4 mb-5" (click)="navigateToMonitor()">
                    <div class="catalog-item mx-auto">
                        <div class="catalog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="catalog-item-caption-content text-center text-white"><i class="fa-solid fa-tv fa-5x"></i></div>
                        </div>
                        <img class="img-fluid" style="border-radius: 5%;" src="/assets/parts/parts-page/monitor.png" alt="Monitor is missing..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>