<body>
    <section class="page-section catalog">
        <div class="container pt-5">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-4">Προσθηκη Οθονης</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <form [formGroup]="monitorForm" class="monitor-details-card shadow rounded">
                <div class="row" style="min-height: 300px;">
                    <div class="col-md-4 text-center monitor-info">
                        <div class="monitor-icon-container">
                            <i class="fa-solid fa-tv fa-4x"></i>
                        </div>
                        <h4 class="mt-2 text-uppercase">Οθονη</h4>
                    </div>
                    <div class="col-md-8 monitor-form-section">
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Μάρκα</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="brand" class="form-control" placeholder="ex. Asus">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Μοντέλο</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="model" class="form-control" placeholder="ex. VA24E">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Ανάλυση</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="resolution" class="form-control" placeholder="ex. 1920x1080">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Inches</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="inches" class="form-control" placeholder="ex. 24">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <label class="form-label">Σειριακός Αριθμός</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="serialNumber" class="form-control" placeholder="ex. IUH7YF736FUY">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-secondary me-2 px-4" (click)="goBack()">
                            <i class="fa-solid fa-arrow-left-long"></i> Πίσω
                        </button>
                        <button type="button" class="btn btn-success me-2 px-4" (click)="createMonitor()" [disabled]="monitorForm.pristine || monitorForm.invalid">
                            <i class="fa-solid fa-save"></i> Δημιουργία
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>